<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nostr.universe" version="0.11.0"
	xmlns="http://www.w3.org/ns/widgets"
	xmlns:cdv="http://cordova.apache.org/ns/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	>
  <name>Spring</name>
  <description>The Nostr browser.</description>
  <author email="artur@nostr.band" href="https://nostr.band/">
    Nostr.Band Team
  </author>
  <access origin="*" />
  <content src="index.html" />
  <allow-intent href="lightning:*" />
  <allow-intent href="nostr:*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-navigation href="http://*/*" />
  <allow-navigation href="https://*/*" />
  <icon src="www/img/icon.png" />
  <preference name="StatusBarOverlaysWebView" value="false" />
  <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/img/splash_spring.png" />
  <edit-config 
      xmlns:android="http://schemas.android.com/apk/res/android" 
      file="app/src/main/AndroidManifest.xml" 
      mode="merge" 
      target="/manifest/application"> 
    <application android:usesCleartextTraffic="true" /> 
  </edit-config>
  <platform name="android">
    <config-file parent="/manifest/application/activity[@android:name='MainActivity']" target="AndroidManifest.xml">
      <intent-filter>
        <data android:scheme="nostr" />
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
      </intent-filter>
    </config-file>
    <config-file parent="/manifest" target="AndroidManifest.xml">
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    </config-file>
  </platform>
</widget>
