.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.btn {
  display: inline-block; 
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0 15px 15px 0;
  outline: none;
  border: none; 
  border-radius: 4px;
  height: 50px;
  line-height: 32px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  background-color: #3775dd;
  box-shadow: 0 2px #21487f;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation; 
  vertical-align: top;
}