* {
  box-sizing: border-box;
}

body {
  background-color: #282c34;
  color: white;
  margin: 0;
}

.wrapper {
  text-align: center;
  padding: 10px 15px;
}

.contentWrapper {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}

.iconImg {
  width: 72px;
  height: 72px;
  border-radius: 10px;
}

.iconBtn {
  background: none;
  padding: 5px;
  border: none;
}

.iconTitle {
  margin: 5px 0 0;
  font-size: 1rem;
  color: white;
}

::-webkit-scrollbar {
   height: 0;
   width: 4px;
   scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #706d6dd4; 
}

.modalContent {
  transform: scale(0.5);
  transition: 0.2s;
  width:100vw;
  height: 100vh;
}

.modalContent.active {
  transform: scale(1);
}

#root {
  height: 100vh;

  /* grid container settings */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

#root > header {
  grid-area: header;
}

#root > main {
  grid-area: main;
  overflow: auto;
  padding: 15px 5px 10px 5px;
}

#root > footer {
  grid-area: footer;
  overflow: auto;
  scrollbar-width: thin;
}
