.contentWrapper {
  overflow: auto;
  white-space: nowrap;
}

.active {
  background: rgba(252, 252, 250, 0.406) !important;
  border-radius: 6px !important;
}

.iconImgBig {
  width: 72px;
  height: 72px;
  border-radius: 10px;
}

.iconImgSmall {
  width: 38px;
  height: 38px;
  border-radius: 6px;
}

.iconBtn {
  background: none;
  padding: 2px 0;
  margin: 0;
  border: none;
}

.iconTitle {
  margin-top: 2px;
  padding: 0;
  color: white;
}
