* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

.wrapper {
  text-align: center;
  padding: 10px 15px;
}

.contentWrapper {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}

.iconImg {
  width: 72px;
  height: 72px;
  border-radius: 10px;
}

.iconBtn {
  background: none;
  padding: 5px;
  border: none;
}

.iconTitle {
  margin: 5px 0 0;
  font-size: 1rem;
  color: white;
}

::-webkit-scrollbar {
   height: 4px;
   scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #706d6dd4; 
}

.modalContent {
  transform: scale(0.5);
  transition: 0.2s;
  width:100vw;
  height: 100vh;
}

.modalContent.active {
  transform: scale(1);
}